ANTHROPIC_API_KEY=sk-ant-...
ADMIN_PIN=1234
RESTAURANTE_WHATSAPP=678000000
DEMO_MODE=false
CORE_URL=http://core:8000
CRM_URL=http://crm:8003
WHATSAPP_PROVIDER=twilio
TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_PHONE_NUMBER=+14155238886
